.scrollable_gunshop {
    overflow-y: auto;
}

.scrollable_gunshop::-webkit-scrollbar {
   width: 5px;
 }
   
 .scrollable_gunshop::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50px;
 }
   
 .scrollable_gunshop::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
}

.hmenu__gunshop__navpanel {
    display: flex;
    flex-direction: column;
    height: 720px;
    width: 415px;
    margin-right: 2%;
    box-sizing: border-box;
}

.gunshop_nav_content__img__container {
    width: 412px;
    height: 150px;
    background: url(../img/back_gunshop.svg) no-repeat;
    background-size: 100% 100%;

}

.hmenu__gunshop__navpanel__exitbtn {
    font-family: 'RobotoMedium';
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    padding: 10%;
}



.hmenu__gunshop__navpanel__list {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 20px;
}

.hmenu__gunshop__navpanel__list__item {
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 1rem 1.5rem 1rem 1.5rem;
    width: 90%;
    text-align: center;
    font-family: 'Gotham Pro Regular';
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    border-radius: 7px;
}

.hmenu__gunshop__navpanel__list__item_active {
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: brown;
    width: 100%;
    text-align: center;
    font-family: 'RobotoBold';
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
}

.hmenu__gunshop__navpanel__banner {
    height: 15%;
    padding: 20%;
    width: auto;
}

.gunshop_nav_content__header__img {
    width: 100%;
    height: auto;
}

.hmenu__gunshop__navpanel__item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 395px;
    height: 60px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 5px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    box-sizing: border-box;
    color: #FFFFFF;

}

.hmenu__gunshop__navpanel__item_active {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 395px;
    height: 60px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    box-sizing: border-box;
    color: #1E1E1E;
}



.hmenu__gunshop__navpanel__item:first-child {
    margin-top: 0px;
}

.hmenu__gunshop__navpanel__item:hover {
    background: rgba(217, 217, 217, 0.2);
}

.hmenu__gunshop__navpanel__item_index_panel:first-child {
    margin-top: 0px;
}

.hmenu__gunshop__navpanel__item_index_panel {
    margin-top: 10px;
}